<div class="min-vh-100 min-vw-100 d-flex flex-column justify-content-center align-items-center">
	<div class="col-11 col-sm-7 col-md-6 col-lg-3">
		<h3 class="text-center fw-bold">Login</h3>
		<p class="text-secondary text-center">Login into go to dashboard</p>
		<hr>
		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<div class="mb-3">
				<label for="username" class="form-label">Username</label>
				<input
					type="text"
					id="username"
					formControlName="username"
					placeholder="Enter your username"
					class="form-control form-control-sm"
					[class.is-invalid]="formService.isFieldInvalid('username')"
					[required]="true"
					[minlength]="3"
					[maxlength]="25"
				/>
				@if (formService.isFieldInvalid('username')) {
					<div class="invalid-feedback">
						{{ formService.getFieldErrorMessage('username') }}
					</div>
				}
			</div>
			<div class="mb-3">
				<div class="d-flex align-items-center justify-content-between">
					<label for="password" class="form-label">Password</label>
					<a routerLink="/forgot-password" class="text-decoration-none text-secondary">
						<small>Forgot password?</small>
					</a>
				</div>
				<div class="position-relative">
					<input
						type="password"
						id="password"
						formControlName="password"
						placeholder="Enter your password"
						class="form-control form-control-sm"
						[class.is-invalid]="formService.isFieldInvalid('password')"
						#passwordField
						[required]="true"
						[minlength]="3"
						[maxlength]="50"
					/>
					<button
						class="btn btn-sm position-absolute top-0 end-0"
						type="button"
						style="z-index: 10;"
						(click)="togglePasswordVisibility(passwordField)"
					>
						<i class="bi"
						   [ngClass]="{'bi-eye-fill': !passwordVisible, 'bi-eye-slash-fill': passwordVisible}"></i>
					</button>
				</div>
				@if (formService.isFieldInvalid('password')) {
					<div class="invalid-feedback" style="display: block;">
						{{ formService.getFieldErrorMessage('password') }}
					</div>
				}
			</div>
			<div class="mb-3">
				<button type="submit" class="btn btn-dark w-100">Login</button>
			</div>
			<div class="mb-3 text-center">
				<small class="text-secondary">
					Don't have an account? <a routerLink="/register" class="text-decoration-none">Register</a>
				</small>
			</div>
		</form>
	</div>
</div>
