<div class="app-header" [ngClass]="{'sidebar-collapsed': sidebarCollapsed}">
    <!-- Sidebar toggle for both mobile and desktop -->
    <button class="btn btn-sm btn-light me-3 sidebar-toggle-btn" (click)="toggleSidebar()">
        <i class="bi" [ngClass]="sidebarCollapsed ? 'bi-arrow-right' : 'bi-arrow-left'"></i>
    </button>

    <!-- Header actions -->
    <div class="header-actions ms-auto">
        <!-- User dropdown -->
        <div class="user-dropdown dropdown">
            <button class="dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="avatar">{{ iconWithFirstTwoLetters }}</div>
				<div class="user-info d-none d-md-block">
					@if(isAuthLoading && !userDetails) {
						<p class="user-name placeholder-glow">
							<span class="placeholder col-6"></span>
						</p>
						<p class="user-role placeholder-glow">
							<span class="placeholder col-4"></span>
						</p>
					} @else {
						<p class="user-name">{{ userDetails?.name }}</p>
						<p class="user-role">{{ userDetails ? UserTypes[userDetails.user_type] : '' }}</p>
					}
				</div>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="#"><i class="bi bi-person me-2"></i> My Profile</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-2"></i> Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#" (click)="logout()"><i class="bi bi-box-arrow-right me-2"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
